* {
  transition: 0.3s ease;
}
.App {
  width: 100%;
  min-height: 100vh;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
}

nav {
  background-color: #7209b7;
  height: 80px;
  padding: 10px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

input {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 20rem;
  height: 30px;
  font-size: 20px;
  margin-right: 10px;
}

button{
  width: 80px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  align-self: flex-end;
  margin-right: 10px;
  cursor: pointer;
  color: #caf0f8;
  background-color: #023047;
}

button:hover{
  box-shadow: 0 0 5px rgba(234, 231, 231, 0.669);
  background-color: #023047;
  color: whitesmoke;
}


.home-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  background: url('./assets/images/home-cover-img.webp') no-repeat center;
}

.home-header::after{
  position: absolute;
  content: '';
  background-color: #02070fa1;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-header h1, small {
  z-index: 1;
  color: #e6e6e6;
}

.home-header small{
  margin-bottom: 10;
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
}

.home-header h1 {
  font-size: 3rem;
  margin-top: 10px;
}

article.usercard {
  width: 100%;
  height: auto;
  background-color: #3a86ff;
  padding: 10px 15px;
  align-items: flex-end;
  display: flex;
  border: none;
   color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(202, 200, 200);
  justify-content: space-around;
}

.profile-img {
  width: 80px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.profile-img img {
  border-radius: 10px;
}

.user-info {
  padding-bottom: 0;
}

.user-info h4 {
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 0;
}

.user-info p {
  margin-bottom:0 ;
}

.more-info button{
  width: 80px;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.container {
  
}

.content{
  margin: auto;
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 15px;
  background-color: #3a86ff;
}

.content.no-content {
  font-weight: 300;
  color: #7209b7;
  text-align: center;
}

.content.no-content

/* spinner loader */
.loader {
  width: 48px;
  height: 48px;
  position: relative;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0),
    radial-gradient(circle 10px, #ff006e 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
    13em -13em, -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader::after {
  font-size: 1px;
  background: #ff006e;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {

  0%,
  100% {
    font-size: 0.75px
  }

  50% {
    font-size: 1.5px
  }
}

@keyframes blast {

  0%,
  40% {
    font-size: 0.5px;
  }

  70% {
    opacity: 1;
    font-size: 4px;
  }

  100% {
    font-size: 6px;
    opacity: 0;
  }
}

@media screen and (min-width:500px) {

  article.usercard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

    .profile-img{
      width: 100%;
    }
}

.details {
  border: none;

}